<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" *ngIf="authState.usuario?.confirmed" aria-label="Menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>MAS - IPSP</span>
  <span class="spacer"></span>
  <button [matMenuTriggerFor]="dropDown" mat-button>
    <img
      *ngIf="authState.usuario?.avatar === null"
      height="20"
      src="{{BASE_URL}}user-download/{{authState.usuario?.id}}/{{authState.usuario?.foto?.split('/')[1]}}"
      style="border-radius: 100%;"
      width="20">
    <img
      *ngIf="authState.usuario?.avatar !== null"
      height="20"
      src="{{authState.usuario.avatar}}"
      style="border-radius: 100%;"
      width="20">
    {{ auth$ | async }}
  </button>
  <mat-menu #dropDown="matMenu">
    <button *ngIf="authState.usuario?.confirmed" mat-menu-item>Ver perfil</button>
    <button (click)="logout()" mat-menu-item>Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="height-100">

  <!--MENU IZQUIERDO-->
  <mat-drawer #drawer mode="push">
    <mat-selection-list #menu [multiple]="false" *ngIf="authState.usuario?.confirmed">
      <mat-list-option *ngFor="let item of items" [routerLink]="item.routerLink">
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <!--CONTENIDO-->
  <mat-drawer-content>
    <div class="container-fluid mt-3">

      <div *ngIf="authState.usuario !== null">
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert"
             *ngIf="!authState.usuario.confirmed && authState.usuario.autorizado">
          <strong>¡Advertencia!</strong> Aun no has validado tu correo electronico. <br>
          <small>Si desea que le reenviemos un mensaje de confirmación al correo
            <b><em>{{ authState.usuario.email }}</em></b> presiona el boton azul
          </small>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="text-center" *ngIf="!authState.usuario.confirmed && authState.usuario.autorizado">
          <button mat-raised-button color="primary" (click)="onSendEmail()">Reenviar mensaje de confirmación</button>
        </div>
      </div>

      <div *ngIf="authState.usuario !== null">
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert"
             *ngIf="!authState.usuario.autorizado">
          <strong>¡Advertencia!</strong> Aun no ha sido comprobado tu registro.<br>
          <small>Por favor espera que tu registro sea validado por nuestros operadores, esto puede demorar unas horas o unos dias.</small>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ngx-spinner></ngx-spinner>
